.speech{
color: black;font-family: Arial, Helvetica, sans-serif; size: 1.5em;
}
.stage-direction{
color:black; font-family: Georgia, 'Times New Roman', Times, serif;background-color: aquamarine;size: 1.8em;
}
.name{
color: black;font-family: 'Franklin Gothic medium', Arial, sans-serif; size: 1.4em;
}
.stage-direction:hover{
    color: red;
    background-color: tan;
}
.lord_illingworth{
    color: brown;
}
.gerald{
    color: violet
}